Package: com.artsyskater.asglyphswhite
Name: asGlyphs - White
Depends: com.anemonetheming.anemone
Version: 2.0
Architecture: iphoneos-arm
Description: An updated version of Glyphs in white!
Maintainer: artsyskater <prof3ssorice@gmail.com>
Author: artsyskater <prof3ssorice@gmail.com>
Section: Themes (SpringBoard)
