Package: com.artsyskater.asglyphsblack
Name: asGlyphs - Black
Depends: com.anemonetheming.anemone
Version: 2.1
Architecture: iphoneos-arm
Description: An updated version of Glyphs in black!
Maintainer: artsyskater <prof3ssorice@gmail.com>
Author: artsyskater <prof3ssorice@gmail.com>
Section: Themes (SpringBoard)
